.pagesBody {
    background: url($background) no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.firstItem {
    margin-left: 100px;
}

.btnLogout {
    margin-left: 20px;
}

.actionPage {
    bottom: 0;
    color: $light;
    height: 250px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 720px;
}

.actionTitle {
    font-size: 50px;
}

.btnAction {
    height: 130px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    width: 320px;
}

.btnContent {
    font-size: 20px;
}
