.firstItem {
    margin-left: 100px;
}

.btnLogout {
    margin-left: 20px;
}

.actionPage {
    bottom: 0;
    height: 250px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 700px;
}

.btnAction {
    height: 130px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 320px;
}
