extends ../layout

block content
    .actionPage
        h1.actionTitle What do you want to do?
        
        button.btn.btn-primary.btnAction
            b.btnContent Create a new poll
        button.btn.btn-secondary.btnAction([router-link]="['PollsList']")
            b.btnContent Access a poll
