header.intro
	.action-page
		h1.form-title.action-title.col-w What do you want to do?

		button.btn.btn-primary.btn-action([routerLink]="['PollEditor', {id: 0}]")
			b.btn-content Create a new poll
		button.btn.btn-secondary.btn-action([routerLink]="['PollsList']")
			b.btn-content Access a poll
