extends ../layout

block content
    .pollslist-page
        h1.form-title.page-title Select a poll
        
        if error
            | Error : #{error}
        else
            for p in polls
                .btn.btn-primary.poll
                    | #{p.title}
                br
