header.intro
	form.sign-up-form
		h1.form-title Sign In
		fieldset.form-group
			label(for="username") Username
			input.form-control(id="username" name="username" placeholder="Enter username" required="required" type="text")
		fieldset.form-group
			label(for="password") Password
			input.form-control(id="password" name="password" placeholder="Enter password" required="required" type="password")
		br
		button.btn.btn-secondary.btn-cancel([routerLink]="['Home']" type="button") Cancel
		button.btn.btn-primary.btn-submit([routerLink]="['Action']" type="button") Submit
