html
	body
		div Add New Achievement
		br
		form
			.input-group
				span Title
				input#title.form-control(type='text')
			.input-group
				span Type
				input#type.form-control(type='text')
			.input-group
				span From
				input#from.form-control(type='text')
			div  
			.input-group
				input.btn.btn-primary(type='submit', value='click')
				input.btn(type='reset', value='Reset')
