header.intro
	form.sign-in-form
		h1.form-title Sign In
		
		.card.card-inverse.card-danger(*ngIf="error")
			.card-block.error
				{{error}}
		
		fieldset.form-group
			label(for="username") Username
			// We need HTML because of the "#email" tag, which is a way for Angular2
			// to identify inputs and Jade does not support it yet.
			//input.form-control(id="username" name="username" placeholder="Enter username" required="required" type="text")
			<input #username class="form-control" id="username" name="username" placeholder="Enter username" required="required" type="text" />
		fieldset.form-group
			label(for="password") Password
			//input.form-control(id="password" name="password" placeholder="Enter password" required="required" type="password")
			<input #password class="form-control" id="password" name="password" placeholder="Enter password" required="required" type="password" />
		br
		button.btn.btn-secondary.btn-cancel([routerLink]="['Home']" type="button") Cancel
		button.btn.btn-primary.btn-submit((click)='signIn(username.value, password.value)' type="submit") Submit
