extends layout

block content
    .actionPage
        h1 What do you want to do?
        
        button.btn.btn-info-outline.btnAction
            b Access a poll
        button.btn.btn-info-outline.btnAction
            b Create a new poll
