doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
				
		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/bootstrap/dist/js/bootstrap.min.js')
	body
		block content
