body.pagesBody
		//- nav.navbar.navbar-dark.bg-primary
		//- 	a.navbar-brand(href='#') Pollock

		//- 	ul.nav.navbar-nav
		//- 		li.nav-item.active.firstItem
		//- 			a.nav-link(href='#')
		//- 				| Polls
		//- 				span.sr-only (current)

		//- 	form.form-inline.navbar-form.pull-right
		//- 		| Logged in as _edri_ localStorage.username
		//- 		button.btn.btn-info-outline.btnLogout(type='submit') Logout

		.content
			block content
