.pagesBody {
  background: url("../images/background.jpg") no-repeat center center fixed;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.firstItem {
  margin-left: 100px; }

.btnLogout {
  margin-left: 20px; }

.actionPage {
  bottom: 0;
  color: #ECF0F1;
  height: 250px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 720px; }

.actionTitle {
  font-size: 50px; }

.btnAction {
  height: 130px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  width: 320px; }

.btnContent {
  font-size: 20px; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  width: 100%; }

p {
  font-size: 18px;
  line-height: 1.5; }

.page-scroll {
  text-transform: uppercase; }

.page-scroll a {
  color: #ECF0F1; }

.nopadding {
  padding: 0 !important; }

.intro {
  box-shadow: 0 0 8em rgba(0, 0, 0, 0.2) inset;
  color: #ECF0F1;
  text-align: center;
  display: table;
  width: 100%;
  height: auto;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.intro .intro-body {
  display: table-cell;
  vertical-align: middle; }

.container.choice {
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 25rem; }

.container.choice .btn {
  margin: 0 6px;
  padding-left: 40px;
  padding-right: 40px; }

.brand-heading {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 20px auto;
  text-transform: uppercase;
  padding-bottom: 15px; }

.intro-text {
  letter-spacing: 1px;
  font-weight: 100; }

.intro input, button {
  text-align: center; }

.stats {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 20px; }

section {
  padding-top: 90px; }

.bg-light {
  background: #f8f8f8; }

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  margin-top: 60px;
  padding: 30px 20px; }

.footer p {
  font-size: 16px; }

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0; }
  .intro .brand-heading {
    font-size: 9em; }
  .intro .intro-text {
    font-size: 20pt; }
  .container.choice {
    margin-top: 80px;
    max-width: 25rem; }
  .intro input, button {
    font-size: 120%; } }

.sign-in-form {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  bottom: 0;
  color: black;
  height: 540px;
  left: 0;
  margin: auto;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 500px; }

.sign-in-title {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-bottom: 15px; }

.btn-cancel, .btn-submit {
  width: 150px; }

.btn-cancel {
  margin-right: 15px; }
