<nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./Home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./Http']">Http requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./DataType']">DataType</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./User']">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./Stats']">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./Map']">Map</a>
        </li>
    </ul>
</nav>
